*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    border-radius: 10px;

}
.logo{
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-right: 20%;
}
.nav-items{
    display: inline-block;
    list-style: none;
}
.nav-items li{
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}
.nav-items li a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

@media (min-width:336) {
 .nav-items li{
    display: block;
}   
}