*{
    margin: 0;
    padding: 0;
    border-radius: 10px;

}
body{
    background-color: black;
}
nav{
    width: 100%;
    height: 100%;
    background-color: rgb(188, 3, 3);
}
.nav-items{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 10%;
}
.nav-items li{
    padding: 20px;
    margin-left: 2%;
    font-size: larger;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-items li a{
    color: white;
    text-decoration: none;

}
.nav-items li input{
    border: none;
    height: 10px;
}
.icon{
    color: white;
    padding: 10px 0px;
}