body{
    background-color: black;
}
.container{
    background-color: rgb(24, 216, 206);
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;

    border-radius: 10px;
    height: 700px;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* align-content: space-evenly; */
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.card{
    background-color: #f1f1f1;
    /* width: 100px; */
    padding: 20px;
    font-size: 30px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px black;
}
#item1{
    order: 4;
    /* flex-shrink: 2; */
}
#item2{
    order: 2;
    /* flex-basis: 200px; */
    /* flex-shrink; */

}
#item3{
    order: 3;
    /* flex-grow: 3; */
}
#item4{
    order: 1;
}

@media (max-width:551px) {
    .container{
        flex-direction: column;
    }
}