body{
    background-color: rgb(193, 234, 246);
}
.container{
    width: 80%;
    position: relative;
    left: 10%;
    display: grid;
    /* grid-template-columns: auto auto 250px; */
    grid-template-columns: repeat(auto,3);
    grid-template-rows: 400px;
    gap: 5px;

}
.item{
    /* width: 100px; */
    /* background-color: red; */
    /* border: 2px solid blue; */
    /* margin: 5px; */
    padding: 15px;
    background-color: rgb(229, 244, 246);
    border-radius: 10px;
}
.item:hover{
    background-color: rgb(229, 244, 255);
    /* box-shadow: 100px solid black; */

}
.item h4, p{
    font-family: 'Segoe UI';
}

.item h4{
    font-size: 2em;
    color: rgb(153, 153, 19);
}
.icon{
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}
/* #item1{
    grid-row: 1/2;
    grid-column: 1/2;

}
#item2{
    grid-row: 1/2;
    grid-column: 2/3;

} */
#item3{
    padding: 100px 20px;
    /* background-color: rgb(160, 22, 22); */
    background-image: linear-gradient(to bottom, red, black);
    
       /* background-image: radial-gradient(circle, white, black, white); */

    color: white;
    grid-row: 1/4;
    grid-column: 3/4;

}
#item3 h4{
    color: white;
}
#item3 .icon{
    border-color: white;
}
#item3 button{
    margin-top: 20px;
    padding: 10px;
    background-color: #141313;
    border: 0;
    border-radius: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: white;
}
#item3 button:hover{
    transform: scale(1.2,1.2);
    transition: .2s ease-out;
}
#item4{
    grid-row: 3/4;
    grid-column: 1/3;

}