.container {
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 100px auto 100px; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.item {
    /* border: 3px solid red; */
    /* height: 50px; */
    /* width: 50px; */
    margin: 2px;
    color: white;
    text-align: center;
}

.item-4 {
    /* grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 2; */
    grid-column: 1/1;
    grid-row: 1/3;
}

.item-3 {
    /* grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1; */
    grid-column: 2/5;
    grid-row: 1/1;
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.item-1 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}