* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
}

.navbar {
    padding: 15px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.logo {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}

.nav-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-items li {
    padding: 0 20px 0 20px;
}

.nav-items li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar button {
    padding: 5px;
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* .poster{
    display: flex;
    height: 700px;
    background-color: blue;
    align-items: center;
    justify-content: space-evenly;

}
.box{
    border: 2px solid red;
    width: 200px;
    height: 15%;
}
#box1{
    background: url("https://plus.unsplash.com/premium_photo-1770554274153-1b608afd6963?q=80&w=1069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
#box2{
    background: url("https://plus.unsplash.com/premium_photo-1770554274153-1b608afd6963?q=80&w=1069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
#box3{
    background: url("https://plus.unsplash.com/premium_photo-1770554274153-1b608afd6963?q=80&w=1069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
} */

/* #box1-info{
    position: relative;
    top: 100%;
    background-color: red;
    border: 2px sold blue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
} */


.poster {
    background-color: #000000;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card {
    width: 400px;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 20px;

}

.poster {
    width: 100%;
    /* height: 100vh; */
    display: flex;
}

.poster-container img {
    height: 300px;
}

.details {
    display: none;
    padding: 20px;
}

#box1:hover .details {
    display: block;
    position: relative;
    margin: 10px;
}

#box2:hover .details {
    display: block;
    position: relative;
    margin: 10px;
}

#box3:hover .details {
    display: block;
    position: relative;
    margin: 10px;
}

#box1:hover #img1 {
    transform: scale(1.2, 1.2);
    transition: .2s ease-in-out;
}

#box2:hover #img2 {
    transform: scale(1.2, 1.2);
    transition: .2s ease-in-out;

}

#box3:hover #img3 {
    transform: scale(1.2, 1.2);
    transition: .2s ease-in-out;

}

.title {
    font-size: 28px;
    margin: 0 0 8px 0;
    font-weight: 800;
    line-height: 1.2;
}

.ranking {
    color: #00bb6b;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    margin-bottom: 20px;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}


.btn-add {
    background-color: #333;
    color: white;
}

.membership {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.metadata {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #aaa;
    font-size: 14px;
    margin-bottom: 15px;
}

.rating-box {
    background-color: #333;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.description {
    font-size: 15px;
    line-height: 1.4;
    color: #efefef;
    overflow: hidden;
}