 body {
     background-color: lightgreen;
 }


 .box{
    width: 500px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
 }

 @media (min-width:480px) {
     body {
         background-color: darkgreen;
     }
 }
 @media (min-width:780px){
    body{
    background-color: yellow;
    }
 }

 @media (max-width:514px){
    .box{
        background-color: cyan;
        width: 50%;
    }
 }


 